* {
    padding: 0px;
    margin: 0px;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 200px;
}

header h1 {
    font-size: 2.5rem;
    color: #131313;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.5rem;
    font-weight: 800;
}

li a {
    text-decoration: none;
    color: #424242;
}

.banner-tex {
    max-width: 700px;
    height: 240px;
    text-align: center;
    margin: 100px auto;

}

.banner-tex h1 {
    font-size: 4rem;
    font-weight: 700;
}

.banner-tex p {
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1rem;
}

.btn {
    width: 190px;
    height: 50px;
    border-radius: 5px;
    background: #f68a06;
    border: 0px;
    margin-top: 1.5rem;
    color: white;
}